.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: default !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-click {
    pointer-events: none !important;
}

.input-highlight {
    border-color: #0037ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 196, 255, 0.6);
}

.error-highlight {
    border-color: #ff0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.slick-prev:before {
    color: #0037ff !important;
}
.slick-next:before {
    color: #0037ff !important;
}

.selected_room {
    background-color: #55a1a9 !important;
    color: white !important;
    border: none !important;
}
.hotspot_undefined {
    opacity: 0.3;
    pointer-events: none;
}
.custom-hotspot {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    color: black;
}

.custom-hotspot-content {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    color: black;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
}

.pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    z-index: 1;
    transform-origin: top left !important;
}
.pointer_view {
    position: absolute;
    top:100px;
    left:100px;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    transform: rotate(0deg) scale(1.0);
    opacity: 1.0;
    text-align: center;
    color: white;
    z-index: 1;
}
.view_direction__center {
    background: #0061ff;
    border-radius: 13px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 13px;
    left: 13px;
}
.view_direction__arrow {
    background: rgb(0,97,255);
    background: linear-gradient(-45deg, rgba(0,97,255,0) 10%, rgba(0,97,255,1) 100%);
    border-radius: 0 0 30px;
    display: block;
    height: 23px;
    width: 23px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 24px;
}

.bg-login-image {
    background: url('../img/splash_login.jpeg');
    background-position: center;
    background-size: cover;
}

#users_table tbody tr.even:hover, #users_table tbody tr.odd:hover {
    background-color: #168ba0 !important;
    cursor: pointer !important;
    color: white !important;
}

#plans_table tbody tr.even:hover, #plans_table tbody tr.odd:hover {
    background-color: #168ba0 !important;
    cursor: pointer !important;
    color: white !important;
}

#forms_table tbody tr.even:hover, #forms_table tbody tr.odd:hover {
    background-color: white !important;
    cursor: default !important;
    color: black !important;
}

.icon_order {
    font-size: 24px;
    cursor: pointer;
}

.icon_order:hover {
    color: #0000FF;
}

.p_room .col-md-10:hover {
    color: #f6c23e;
}

.p_subs .col-md-10:hover {
    color: #36b9cc;
}
.nadir-hotspot {
    width: 150px;
    height: 150px;
    pointer-events: none;
}
.ip-icons-area {
    height: 400px !important;
    overflow-y: scroll !important;
}

.ip-show-all-icons {
    display: none !important;
}
.remove_image_gallery {
    position: absolute;
    top:calc(50% - 12px);
    left:calc(50% - 12px);
    opacity: 0;
}
.image_gallery:hover .remove_image_gallery {
    opacity: 1;
}
.image_icon {
    background-color: grey;
}
.remove_image_icon {
    position: absolute;
    top:calc(50% - 12px);
    left:calc(50% - 12px);
    opacity: 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.image_icon:hover .remove_image_icon {
    opacity: 1;
}
.sidebar .nav-item .nav-link {
    padding: .5rem !important;
}
#poi_content_add_html_sc {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
#poi_content_html_sc {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
#panorama_markers {
    width: 100%;
    max-width:1062px;
    height: 600px;
    margin: 0 auto;
    display: none;
}
#panorama_pois {
    width: 100%;
    max-width:1062px;
    height: 600px;
    margin: 0 auto;
    display: none;
}
#action_box {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 90px);
    width: 180px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
    display: none;
    z-index: 11;
}
#action_box i {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
#action_box i:hover {
    color: #275EFE;
}
#confirm_move {
    position: absolute;
    top: 20px;
    left: calc(50% - 130px);
    width: 260px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: default;
    display: none;
    z-index: 11;
}
#confirm_move .btn_confirm {
    z-index: 12;
    pointer-events: initial !important;
}
#confirm_edit {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 800px;
    width: 80%;
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: default;
    display: none;
    z-index: 11;
}
#confirm_style {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 800px;
    width: 80%;
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: default;
    display: none;
    z-index: 11;
}
.btn_confirm {
    vertical-align: middle;
    cursor: pointer;
    color: darkgreen;
    font-size: 24px;
}
#div_form_edit input[type='text'] {
    height: auto;
    padding: 1px 5px;
}
#div_form_edit select {
    height: auto;
    padding: 1px 5px;
}
.gjs-block.fa {
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
    padding: 11px;
}
.gjs-block.fab {
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
    padding: 11px;
}
.gjs-block.far {
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
    padding: 11px;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd3-handle:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;

}


