html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343434;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
*{
    -webkit-tap-highlight-color: transparent;
}
a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
audio:focus { outline: none; }
video:focus { outline: none; }
.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}
.hidden {
    display: none !important;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.intro_img {
    position: relative;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    display: none;
    height: 100vh;
    pointer-events: none;
}
.intro_img img {
    width: 70%;
    max-width: 400px;
    border-radius: 20px;
}
.panorama {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
}
.custom-hotspot {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    font-size: 16px;
}
.custom-hotspot:hover {
    animation: pulse-h 1.5s infinite;
}
.custom-hotspot-content {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
}
.custom-hotspot-content:hover {
    animation: pulse-h 1.5s infinite;
}
.hotspot_hover {
    animation: pulse-h 1.5s infinite;
}
@keyframes pulse-h {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
#background_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    display: none;
}
#icon_play {
    font-size: 110px;
    display: none;
    cursor: pointer;
}
.loading {
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    color: white;
    z-index: 10;
}
.progress {
    width: 100%;
}
.progress img {
    width: 100%;
    max-width: 250px;
}
#pbar {
    margin-top: 20px;
}
#name_virtualtour {
    margin-top: 10px;
    margin-bottom: 10px;
}
.map {
    position: absolute;
    top: 48px;
    right: 4px;
    z-index: 30;
    opacity: 0.8;
    display: none;
}
.map_zoomed {
    transform-origin: top right;
    transform: scale(1.7) !important;
}
.map_image {
    width: 300px;
    border: 1px solid rgba(0,0,0,0.7);
}
.darker_img {
    filter: grayscale(100%) brightness(0.1);
}
.all_maps {
    text-align: left;
    position: relative;
}
.all_maps span {
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    cursor: default;
    position: absolute;
    left: 0;
    bottom: 4px;
}
.map_selector_control {
    width: 22px;
    height: 22px;
    text-align: center;
    display: none;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    line-height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
}
.map_selector_control i {
    font-size: 14px;
    color: black;
}
.map_zoom_control {
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    line-height: 22px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.map_zoom_control i {
    font-size: 14px;
    color: black;
}
.map_selector {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 4px);
    overflow-y: scroll;
    z-index: 40;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.map_selector::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.map_selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    width: 100%;
}
.map_selector li {
    font-size: 14px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
}
.map_selector li a {
    text-decoration: none;
    color: white;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    cursor: pointer;
}
.map_selector li a:hover {
    font-size: 18px;
    background: white;
    color: black;
}
.pointer {
    position: absolute;
    top:100px;
    left:100px;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    transform: rotate(0deg) scale(1.0);
    opacity: 0.4;
    text-align: center;
    color: white;
    z-index: 1;
}
.view_direction__center {
    background: #0061ff;
    border-radius: 13px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 13px;
    left: 13px;
    cursor: pointer;
}
.view_direction__arrow {
    background: rgb(0,97,255);
    background: linear-gradient(-45deg, rgba(0,97,255,0) 10%, rgba(0,97,255,1) 100%);
    border-radius: 0 0 30px;
    display: block;
    height: 23px;
    width: 23px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 24px;
}
.logo {
    position: absolute;
    top: 45px;
    right: 4px;
    z-index: 30;
    opacity: 1;
    display: none;
}
.logo img {
    margin-top: 5px;
    height: 30px;
}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.pnlm-title-box {
    font-size: 14px;
}
.frame {
    width: 100%;
    height: 130px;
    padding: 0;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: rgba(255,255,255,0.9);
}
.frame .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    margin: 0 auto;
}
.frame .slidee li {
    float: left;
    margin: 5px 5px 0 0;
    padding: 0;
    height: 100%;
    width: 210px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.frame .slidee li img {
    height: 120px;
}
.frame .slidee li span {
    height: 160px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0;
    height: auto;
    background-color: rgba(0,0,0,0.4);
}
.frame .slidee li.active span {
    color: #000000;
    background-color: rgba(255,255,255,0.5);
}
.frame #list_left {
    position: absolute;
    top: calc(50% - 15px);
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.frame #list_right {
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#floatingSocialShare {
    position: absolute;
    z-index: 0;
    display: none;
}
#floatingSocialShare .content-left {
    margin-left: 0 !important;
}
#dialog {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
}
#typed {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-size: 24pt;
    text-transform: uppercase;
}
#loading_pano {
    display: none;
    font-size: 36px;
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    color: white;
    opacity: 0;
}
#background_pano {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
#background_pano_vr {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    display: none;
}
.p_control {
    border-radius: 8px;
}
.nadir-hotspot-small {
    width: 100px;
    height: 100px;
    pointer-events: none;
}
.nadir-hotspot-medium {
    width: 200px;
    height: 200px;
    pointer-events: none;
}
.nadir-hotspot-large {
    width: 400px;
    height: 400px;
    pointer-events: none;
}

#btn_stop_presentation {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 4px;
    left: 8px;
    z-index: 30;
}
#btn_stop_vr {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 30;
}
#btn_stop_vr_2 {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 10px;
    left: calc(50% + 16px);
    z-index: 30;
}
.header_vt {
    display: none;
    background: url(top-gradient.png) repeat-x top;
    height: 80px;
    padding: 2px 0px;
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header_vt_vr {
    display: none;
    background: url(top-gradient.png) repeat-x top;
    height: 80px;
    padding: 2px 0px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 30;
    width: 50%;
    text-align: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.name_vt {
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
    min-width: 150px;
    width: 40%;
    margin: 0 auto;
}
.author_vt {
    font-size: 10px;
}
.info_control {
    display: none;
    position: absolute;
    bottom: 4px;
    left: 6px;
    z-index: 40;
    color: #656565;
    border: 1px solid #656565;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}
.gallery_control {
    display: none;
    position: absolute;
    bottom: 4px;
    left: 52px;
    z-index: 40;
    color: #656565;
    border: 1px solid #656565;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}
.fullscreen_control {
    display: none;
    position: absolute;
    top: 8px;
    right: 14px;
    z-index: 1001;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.song_control {
    display: none;
    position: absolute;
    top: 8px;
    left: 45px;
    z-index: 1002;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.map_control {
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1001;
    cursor: pointer;
}
.map_control i {
    color: white;
    font-size: 17px;
}
.list_control {
    display: none;
    position: absolute;
    bottom: 0;
    width: 50px;
    left: calc(50% - 25px);
    z-index: 40;
    color: black;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px 10px 0px 0px;
}
.menu_controls {
    display: none;
    position: absolute;
    top: 10px;
    left: 4px;
    z-index: 1000;
}
.menu_controls .title i {
    margin-left: 14px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
.menu_controls .dropdown {
    width: 100%;
    height: 0;
    opacity: 1.0;
    background: #fff;
    border-radius: 5px;
    color: #505050;
    margin-top: 10px;
    overflow: hidden;
    transition: all 0.5s;
}
.menu_controls .down {
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.menu_controls .down::-webkit-scrollbar { width: 0 !important }
.menu_controls .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    opacity: 1.0;
    position: absolute;
    left: 8px;
    top: 21px;
    display: none;
}
.menu_controls .arrow.gone {
    display: block;
}
.menu_controls p {
    font-size: 12px;
    padding: 10px 14px;
    margin: 0;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu_controls p:hover {
    -webkit-transform: scale(1.1);
}
.menu_controls .active {
    color: darkgreen;
    font-size: 8px;
    vertical-align: middle;
    padding-bottom: 2px;
}
.menu_controls .not_active {
    color: lightgray;
    font-size: 8px;
    vertical-align: middle;
    padding-bottom: 2px;
}

.list_alt_menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 1001;
}
.list_alt_menu .title i {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.list_alt_menu .dropdown {
    width: 100%;
    height: 0;
    opacity: 1.0;
    background: #fff;
    border-radius: 5px;
    color: #505050;
    margin-top: 9px;
    overflow: hidden;
    transition: all 0.5s;
}
.list_alt_menu .down {
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.list_alt_menu .down::-webkit-scrollbar { width: 0 !important }
.list_alt_menu .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    opacity: 1.0;
    position: absolute;
    left: 5px;
    top: 21px;
    display: none;
}
.list_alt_menu .arrow.gone {
    display: block;
}
.list_alt_menu p {
    font-size: 12px;
    padding: 6px 14px;
    margin: 0;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list_alt_menu p:hover {
    -webkit-transform: scale(1.1);
}
.list_alt_menu p i {
    font-size: 10px;
    vertical-align: middle;
    padding-bottom: 3px;
}
.list_alt_menu .active {
    color: darkgreen;
}
.list_alt_menu .not_active {
    color: lightgray;
}

.loading_vr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    background-color: #343434;
    color: white;
}
.hotspots_vr {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.cursor_vr {
    display: none;
    z-index: 999;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 2px #005eff;
}
.cursor_vr_active {
    color: #005eff;
    text-shadow: 0px 0px 2px white;
}
#cursor_vr_left {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(25% - 9px);
}
#cursor_vr_right {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(75% - 9px);
}
.nadir-hotspot-small_vr {
    width: 80px !important;
    height: 80px !important;
}
.pnlm-compass {
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 4px;
    background-size: contain;
}
.fb_dialog{
    position: absolute;
    bottom: 4px;
    right: 54px;
    z-index: 10 !important;
    transform: scale(0.73);
    transform-origin: bottom right;
    background: none !important;
    opacity: 0;
}
.fb_dialog iframe {
    margin-left: 0 !important;
    margin-right: 0 !important;
    bottom: 0px !important;
    right: 0px !important;
}
.info_icon {
    display: none;
    float: left;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.info_icon i {
    font-size: 24px;
}
.lity-content {
    border-radius: 5px;
}
.lity-content p {
    margin: 0;
    padding: 0;
}
.lity-container {
    padding: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.lity-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.arrows_nav {
    display: none;
}
.arrows_nav #prev_arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    opacity: 0.9;
    z-index: 31;
    color: white;
    cursor: pointer;
    font-size: 35px;
}
.arrows_nav #prev_arrow:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.arrows_nav #next_arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    opacity: 0.9;
    z-index: 29;
    color: white;
    cursor: pointer;
    font-size: 35px;
}
.arrows_nav #next_arrow:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #005eff;
}
.lg-progress-bar .lg-progress {
    background-color: #005eff;
}
.protect {
    display: none;
}
.protect button {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
    outline: none !important;
}
.protect button:active, .protect button:visited, .protect button:link {
    outline: none !important;
}
.protect button i {
    font-size: 30px;
    color: black;
}
#vt_password {
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 200px;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    text-align: center;
}
.form_poi button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.form_main button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.button_success_form {
    background-color: darkgreen !important;
}
.deo-close-button {
    opacity: 0;
}
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?bg5b0v');
    src:  url('icomoon.eot?bg5b0v#iefix') format('embedded-opentype'),
    url('icomoon.ttf?bg5b0v') format('truetype'),
    url('icomoon.woff?bg5b0v') format('woff'),
    url('icomoon.svg?bg5b0v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-map_off:before {
    content: "\e900";
}
.icon-map_on:before {
    content: "\e901";
}
.fa-pulse {
    display: inline-block;
    -moz-animation: pulse 1s infinite linear;
    -o-animation: pulse 1s infinite linear;
    -webkit-animation: pulse 1s infinite linear;
    animation: pulse 1s infinite linear;
}
@-webkit-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-moz-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-o-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-ms-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}

.live_call {
    display: none;
}
.live_status {
    background-color: white;
    width: 200px;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 40px;
    left: calc(50% - 100px);
    z-index: 40;
    cursor: default;
}
#btn_live_end {
    float: right;
    margin-left: 10px;
    color: red;
    display: none;
    cursor: pointer;
}
#btn_link_session {
    float: right;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}
#btn_live_status {
    float: left;
    margin-right: 10px;
}
.video_my_wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: 15vw;
    z-index: 40;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.video_my_wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.video_remote_wrapper {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: 15vw;
    z-index: 40;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.video_remote_wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.video_background {
    max-width: 116px;
    max-height: 116px;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ada9a9;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
    max-width: 133%;
    min-width: 100%;
}
.msg_lock {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    z-index: 39;
    color: white;
}
.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    bottom: 6px;
    right: 56px;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 50ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 40;
}
.floating-chat.enter:hover {
    opacity: 1;
}
.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.9;
}
.floating-chat.expand {
    width: 250px;
    max-height: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
}
.floating-chat :focus {
    outline: 0;
}
.floating-chat button {
    background: transparent;
    border: 0;
    color: #000000;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 50ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}
.floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}
.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}
.floating-chat .chat .header button {
    flex-shrink: 0;
    color: #000000;
}
.floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}
.floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.1);
}
.floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.2);
}
.floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    word-wrap: break-word;
    max-width: 75%;
}
.floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background-size: cover;
}
.floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0, 0, 0, 0.8);
}
.floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 45px;
    color: #ffffff;
}
.floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
}
.floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 45px;
    color: #ffffff;
}
.floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
}
.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}
.floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(35, 35, 35, 0.7);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #ffffff;
    overflow-y: auto;
    padding: 2px 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.5);
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.5);
}
.floating-chat.blink {
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.0s infinite ease-in-out;
    -webkit-animation:blink normal 1.0s infinite ease-in-out;
    -ms-animation:blink normal 1.0s infinite ease-in-out;
    animation:blink normal 1.0s infinite ease-in-out;
}
.modal_live_link {
    width:95%;
    max-width:800px;
    text-align:center;
}
.modal_live_link i {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    color: black;
}
.modal_live_link i:hover {
    color: #0f74a8;
}
.annotation {
    display: none;
    position: absolute;
    top: 45px;
    left: 4px;
    min-width: 150px;
    max-width: 300px;
    width: 30%;
    z-index: 40;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid lightgray;
}
.annotation_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.annotation_description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@keyframes blink {
    0% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
    50% {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }
    100% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
    50% {
        background-color: rgba(0,0,0,0.9);
        color: white;
    }
    100% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
}

@media (max-height: 700px) {
    .arrows_nav #next_arrow {
        top: 65%;
        font-size: 30px;
    }
    .arrows_nav #prev_arrow {
        top: 65%;
        font-size: 30px;
    }
}

@media (max-height: 530px) {
    .pnlm-title-box {
        font-size: 12px;
    }
    .map {
        transform-origin: top right;
        transform: scale(0.75);
    }
    .map_zoomed {
        transform-origin: top right;
        transform: scale(1) !important;
    }
    .menu_controls p {
        font-size: 11px;
        padding: 8px 14px;
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    .pnlm-title-box {
        font-size: 12px;
    }
    .map {
        transform-origin: top right;
        transform: scale(0.75);
    }
    .map_zoomed {
        transform-origin: top right;
        transform: scale(1) !important;
    }
    .nadir-hotspot-small {
        width: 40px;
        height: 40px;
    }
    .nadir-hotspot-medium {
        width: 80px;
        height: 80px;
    }
    .nadir-hotspot-large {
        width: 140px;
        height: 140px;
    }
    #typed {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .pnlm-compass {
        width: 30px;
        height: 30px;
    }
    .info_control {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    .gallery_control {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    .fb_dialog {
        margin-right: -12px;
        transform: scale(0.55);
    }
    .logo img {
        height: 20px;
    }
    .floating-chat {
        right: 42px;
        width: 30px;
        height: 30px;
    }
    .annotation {
        transform-origin: 0 0;
        transform: scale(0.7);
    }
}

@media (max-width: 400px) {
    .name_vt {
        font-size: 10px;
    }
    .author_vt {
        font-size: 8px;
    }
}